    Topic:        Project 1  
    Subject:      Campaign Placement for WomenTechWomenYes Canvassing  
    Date:         07/09/2018  
    Name:         Courtney  
    Worked with:  Tim, Brandon

In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from copy import deepcopy

%matplotlib inline

In [61]:
it_weight = pd.read_csv('zip_of_weights_for_information_workers_2.csv', dtype={'ZIPCODE': str, 'WEIGHT':np.float64})

with open('spatial_4hr_interval_mta.pickle','rb') as read_file:
    time_series_df = pickle.load(read_file)
    
time_series_df = pd.merge(time_series_df, it_weight, on='ZIPCODE', how='left')

# time_series_df.head()

In [63]:
time_series_df.ENTRY_DIFF = time_series_df.ENTRY_DIFF*time_series_df.WEIGHT

In [65]:
time_series_df.EXIT_DIFF = time_series_df.EXIT_DIFF*time_series_df.WEIGHT

In [66]:
time_series_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,ENTRIES,EXITS,DATE_TIME,DATE,DESC,TIME_INTERVAL,ENTRY_DIFF,EXIT_DIFF,LAT,LONG,ZIPCODE,WEIGHT
0,A002,R051,02-00-00,59 ST,NQR456W,6566470.0,2224053.0,2018-03-31 03:59:00,2018-03-31,REGULAR,04:00:00,0.026906,0.011531,40.762796,-73.967686,10022,0.003844
1,A002,R051,02-00-00,59 ST,NQR456W,6566470.0,2224053.0,2018-03-31 07:59:00,2018-03-31,REGULAR,04:00:00,0.000000,0.000000,40.762796,-73.967686,10022,0.003844
2,A002,R051,02-00-00,59 ST,NQR456W,6566470.0,2224055.0,2018-03-31 11:59:00,2018-03-31,REGULAR,04:00:00,0.000000,0.007688,40.762796,-73.967686,10022,0.003844
3,A002,R051,02-00-00,59 ST,NQR456W,6566470.0,2224055.0,2018-03-31 15:59:00,2018-03-31,REGULAR,04:00:00,0.000000,0.000000,40.762796,-73.967686,10022,0.003844
4,A002,R051,02-00-00,59 ST,NQR456W,6566470.0,2224055.0,2018-03-31 19:59:00,2018-03-31,REGULAR,04:00:00,0.000000,0.000000,40.762796,-73.967686,10022,0.003844

In [67]:
with open('weighted_4hr_interval_mta.pickle', 'wb') as to_write:
    pickle.dump(time_series_df, to_write)